[submodule "k8s-container-integrity-mutator"]
	path = integrity-mutator
	url = https://github.com/ScienceSoft-Inc/k8s-container-integrity-mutator
[submodule "integrity-sum"]
	path = integrity-sum
	url = https://github.com/ScienceSoft-Inc/integrity-sum
